.CartController {
    display: flex;
    width: 40%;
    margin: 5px 0;
    padding: 10px;
    box-shadow: 2px 4px 8px 2px rgba(214, 140, 2, 0.4);
}

.CartController button {
    width: 50%;
    height: 100%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin: 0 5px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px ridge transparent;
}

.CartController button.red {
    background-color: #f44336;
}

.CartController button.green {
    background-color: #4CAF50;
}

.CartController button:hover {
    border-color: #262626;
}
